---
title: API Reference

language_tabs:
  - shell

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Backer API
---

# Introduction

Welcome to the Backer API.

# Authentication

> To authorize, use this code:

```shell
# With shell, you can just pass the correct header with each request
curl "api/endpoint/here" \
  -H 'Content-Type: application/json'
  -H "Authorization: <API token>"
```

> Make sure to replace `<API token>` with your own API token.

Backer uses API keys to allow access to the API.

Backer expects for the API token to be included in all API requests to the server in a header that looks like the following:

`Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c`

<aside class="notice">
  You must replace <code>109cb6fd-5658-4297-9bbf-8fa42be80f6c</code> with your personal API key.
</aside>

# Users

## Get User

```shell
curl "https://backer.com/restapi/users/USR123-456" \
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
```

> The above command returns JSON structured like this:

```json
{
  "email": "user@example.com",
  "uuid": "6a62fadd-6f95-4549-9d3f-b625716ccbbd",
  "externalId": "USR123-456",
  "insertedAt": "2019-10-08T17:39:18.179490Z",
  "firstName": "Jane",
  "lastName": "Doe",
  "middleName": "Arianne",
  "photoUrl": "https://res.cloudinary.com/myphoto.png"
}
```

This endpoint returns an existing user.

### HTTP Request

`GET https://backer.com/restapi/users/<external_id>`

### URL Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
external_id | string | yes | External user ID used to register this user.

## Register User

```shell
curl "https://backer.com/restapi/users" \
  -X POST
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
  -d '{"external_id": "USR123-456",
       "first_name": "Jane",
       "last_name": "Doe",
       "email": "jane@example.com"}'
```

> The above command returns JSON structured like this:

```json
{
  "email": "jane@example.com",
  "uuid": "e95d1ea1-9f5b-44d6-822f-ad4a481ba2c8",
  "externalId": "USR123-456",
  "insertedAt": "2019-10-08T17:39:18.179490Z",
  "firstName": "Jane",
  "lastName": "Doe"
}
```

This endpoint registers a new user.

### HTTP Request

`POST https://backer.com/restapi/users`

### Query Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
external_id | string | yes | ID of the user in your own application.
first_name | string | yes | User first name
last_name | string | yes | User last name
email | string | yes | User email

# Fund Draft

## Create Fund Draft For A Kid

```shell
curl "https://backer.com/restapi/users/e95d1ea1-9f5b-44d6-822f-ad4a481ba2c8/fund_drafs" \
  -X POST
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
  -d '{"prebirth": false,
       "beneficiary_first_name": "John",
       "beneficiary_last_name": "Doe",
       "beneficiary_born_on": "2020-03-17",
       "beneficiary_ssn": "123456789",
       "beneficiary_physical_address_street": "474 Bryant St",
       "beneficiary_physical_address_zip": "94107",
       "beneficiary_physical_address_city": "San Francisco",
       "beneficiary_physical_address_state": "CA",
       "owner_first_name": "Jane",
       "owner_middle_name": "Arianne",
       "owner_last_name": "Doe",
       "owner_born_on": "1982-01-11",
       "owner_relationship": "mother",
       "owner_ssn": "321654987",
       "owner_phone": "5555555555",
       "owner_physical_address_street": "474 Bryant St",
       "owner_physical_address_zip": "94107",
       "owner_physical_address_city": "San Francisco",
       "owner_physical_address_state": "CA",
       "owner_mailing_address_street": "474 Bryant St",
       "owner_mailing_address_zip": "94107",
       "owner_mailing_address_city": "San Francisco",
       "owner_mailing_address_state": "CA"}'
```

> The above command returns JSON structured like this:

```json
{
  "uuid": "0b9f81a6-e696-49cd-b875-90ebf477f0a3",
  "beneficiary_first_name": "John",
  "beneficiary_middle_name": "Sylvester",
  "beneficiary_last_name": "Doe",
  "beneficiary_born_on": "2020-03-17",
  "beneficiary_ssn": "123456789",
  "beneficiary_physical_address_street": "474 Bryant St",
  "beneficiary_physical_address_zip": "94107",
  "beneficiary_physical_address_city": "San Francisco",
  "beneficiary_physical_address_state": "CA",
  "owner_first_name": "Jane",
  "owner_middle_name": "Arianne",
  "owner_last_name": "Doe",
  "owner_born_on": "1982-01-11",
  "owner_relationship": "mother",
  "owner_ssn": "321654987",
  "owner_phone": "5555555555",
  "owner_physical_address_street": "474 Bryant St",
  "owner_physical_address_zip": "94107",
  "owner_physical_address_city": "San Francisco",
  "owner_physical_address_state": "CA",
  "owner_mailing_address_street": "474 Bryant St",
  "owner_mailing_address_zip": "94107",
  "owner_mailing_address_city": "San Francisco",
  "owner_mailing_address_state": "CA"
}
```

This endpoint creates a fund draft to provision a new fund.

### HTTP Request

`POST https://backer.com/restapi/users/<user_uuid>/fund_drafts`

### URL Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
user_uuid | UUID | yes | User UUID

### Query Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
prebirth | boolean | yes | if true account is for a kid, else it's for a future baby
beneficiary_first_name | string | yes | kid first name
beneficiary_middle_name | string | no | kid middle name
beneficiary_last_name | string | yes | kid last name
beneficiary_born_on | date (iso8601) | yes | kid birth date
beneficiary_ssn | string | yes | kid social security number
beneficiary_physical_address_street | string | yes | kid physical address: street line 1
beneficiary_physical_address_street2 | string | yes | kid physical address: street line 2
beneficiary_physical_address_zip | string | yes | kid physical address: zip code
beneficiary_physical_address_city | string | yes | kid physical address: city
beneficiary_physical_address_state | string | yes | kid physical address: state
owner_first_name | string | yes | user first name
owner_middle_name | string | no | user middle name
owner_last_name | string | yes | user last name
owner_born_on | date | yes | user birth date
owner_relationship | relationship | yes | user relationship to the kid
owner_ssn | string | yes | kid social security number
owner_phone | phone | yes | user phone number
owner_physical_address_street | string | yes | user physical address: street line 1
owner_physical_address_street2 | string | no | user physical address: street line 2
owner_physical_address_zip | string | yes | user physical address: zip code
owner_physical_address_city | string | yes | user physical address: city
owner_physical_address_state | string | yes | user physical address: state
owner_mailing_address_street | string | yes | user physical address: street line 1
owner_mailing_address_street2 | string | no | user physical address: street line 2
owner_mailing_address_zip | string | yes | user physical address: zip code
owner_mailing_address_city | string | yes | user physical address: city
owner_mailing_address_state | string | yes | user physical address: state

<aside class="notice">
  <strong>Dates are using the ISO8601 format (`YYYY-MM-DD`).</strong>
</aside>

<aside class="notice">
  <strong>Phone numbers are the 10 digits of the US phone number.</strong>
</aside>

<aside class="notice">
  <strong>A relationship can take any of those values:</strong>
  <ul>
    <li>aunt</li>
    <li>father</li>
    <li>friend</li>
    <li>grandfather</li>
    <li>grandmother</li>
    <li>guardian</li>
    <li>mother</li>
    <li>parent</li>
    <li>uncle</li>
    <li>other</li>
  </ul>
</aside>

## Create Fund Draft For A Future Baby

```shell
curl "https://backer.com/restapi/users/e95d1ea1-9f5b-44d6-822f-ad4a481ba2c8/fund_drafs" \
  -X POST
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
  -d '{"prebirth": true,
       "owner_first_name": "John",
       "owner_last_name": "Frusciante",
       "owner_born_on": "1970-03-05",
       "owner_ssn": "321654987",
       "owner_phone": "5555555555",
       "owner_physical_address_street": "4900 Marie P DeBartolo Way",
       "owner_physical_address_zip": "95054",
       "owner_physical_address_city": "Santa Clara",
       "owner_physical_address_state": "CA",
       "owner_mailing_address_street": "4900 Marie P DeBartolo Way",
       "owner_mailing_address_zip": "95054",
       "owner_mailing_address_city": "Santa Clara",
       "owner_mailing_address_state": "CA"}'
```

> The above command returns JSON structured like this:

```json
{
  "uuid": "03303252-904e-4d1b-a304-8ec1d3abe6d0",
  "beneficiary_first_name": "John",
  "beneficiary_middle_name": null,
  "beneficiary_last_name": "Frusciante",
  "beneficiary_born_on": "1970-03-05",
  "beneficiary_ssn": "123456789",
  "beneficiary_physical_address_street": "4900 Marie P DeBartolo Way",
  "beneficiary_physical_address_zip": "95054",
  "beneficiary_physical_address_city": "Santa Clara",
  "beneficiary_physical_address_state": "CA",
  "owner_first_name": "John",
  "owner_middle_name": null,
  "owner_last_name": "Frusciante",
  "owner_born_on": "1970-03-05",
  "owner_relationship": "self",
  "owner_ssn": "321654987",
  "owner_phone": "5555555555",
  "owner_physical_address_street": "4900 Marie P DeBartolo Way",
  "owner_physical_address_zip": "95054",
  "owner_physical_address_city": "Santa Clara",
  "owner_physical_address_state": "CA",
  "owner_mailing_address_street": "4900 Marie P DeBartolo Way",
  "owner_mailing_address_zip": "95054",
  "owner_mailing_address_city": "Santa Clara",
  "owner_mailing_address_state": "CA"
}
```

This endpoint creates a fund draft to provision a new fund.

### HTTP Request

`POST https://backer.com/restapi/users/<user_uuid>/fund_drafts`

### URL Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
user_uuid | UUID | yes | user UUID

### Query Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
prebirth | boolean | yes | if true account is for a kid, else it's for a future baby
owner_first_name | string | yes | user first name
owner_middle_name | string | no | user middle name
owner_last_name | string | yes | user last name
owner_born_on | date | yes | user birth date
owner_ssn | string | yes | kid social security number
owner_phone | phone | yes | user phone number
owner_physical_address_street | string | yes | user physical address: street line 1
owner_physical_address_street2 | string | no | user physical address: street line 2
owner_physical_address_zip | string | yes | user physical address: zip code
owner_physical_address_city | string | yes | user physical address: city
owner_physical_address_state | string | yes | user physical address: state
owner_mailing_address_street | string | yes | user physical address: street line 1
owner_mailing_address_street2 | string | no | user physical address: street line 2
owner_mailing_address_zip | string | yes | user physical address: zip code
owner_mailing_address_city | string | yes | user physical address: city
owner_mailing_address_state | string | yes | user physical address: state

## Update A Fund Draft

```shell
curl "https://backer.com/restapi/fund_drafs/0b9f81a6-e696-49cd-b875-90ebf477f0a3" \
  -X PUT
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
  -d '{"owner_born_on": "1971-03-09"}'
```

> The above command returns JSON structured like this:

```json
{
  "uuid": "0b9f81a6-e696-49cd-b875-90ebf477f0a3",
  "beneficiary_first_name": "John",
  "beneficiary_middle_name": "Sylvester",
  "beneficiary_last_name": "Doe",
  "beneficiary_born_on": "1971-03-09",
  "beneficiary_ssn": "123456789",
  "beneficiary_physical_address_street": "474 Bryant St",
  "beneficiary_physical_address_zip": "94107",
  "beneficiary_physical_address_city": "San Francisco",
  "beneficiary_physical_address_state": "CA",
  "owner_first_name": "Jane",
  "owner_middle_name": "Arianne",
  "owner_last_name": "Doe",
  "owner_born_on": "1982-01-11",
  "owner_relationship": "mother",
  "owner_ssn": "321654987",
  "owner_phone": "5555555555",
  "owner_physical_address_street": "474 Bryant St",
  "owner_physical_address_zip": "94107",
  "owner_physical_address_city": "San Francisco",
  "owner_physical_address_state": "CA",
  "owner_mailing_address_street": "474 Bryant St",
  "owner_mailing_address_zip": "94107",
  "owner_mailing_address_city": "San Francisco",
  "owner_mailing_address_state": "CA"
}
```

This endpoint updates a fund draft.

### HTTP Request

`PUT https://backer.com/restapi/fund_drafts/<draft_uuid>`

### URL Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
fund_draft_uuid | UUID | yes | fund draft UUID

### Query Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
beneficiary_first_name | string | yes | kid first name
beneficiary_middle_name | string | no | kid middle name
beneficiary_last_name | string | yes | kid last name
beneficiary_born_on | date (iso8601) | yes | kid birth date
beneficiary_ssn | string | yes | kid social security number
beneficiary_physical_address_street | string | yes | kid physical address: street line 1
beneficiary_physical_address_street2 | string | yes | kid physical address: street line 2
beneficiary_physical_address_zip | string | yes | kid physical address: zip code
beneficiary_physical_address_city | string | yes | kid physical address: city
beneficiary_physical_address_state | string | yes | kid physical address: state
owner_first_name | string | yes | user first name
owner_middle_name | string | no | user middle name
owner_last_name | string | yes | user last name
owner_born_on | date | yes | user birth date
owner_relationship | relationship | yes | user relationship to the kid
owner_ssn | string | yes | kid social security number
owner_phone | phone | yes | user phone number
owner_physical_address_street | string | yes | user physical address: street line 1
owner_physical_address_street2 | string | no | user physical address: street line 2
owner_physical_address_zip | string | yes | user physical address: zip code
owner_physical_address_city | string | yes | user physical address: city
owner_physical_address_state | string | yes | user physical address: state
owner_mailing_address_street | string | yes | user physical address: street line 1
owner_mailing_address_street2 | string | no | user physical address: street line 2
owner_mailing_address_zip | string | yes | user physical address: zip code
owner_mailing_address_city | string | yes | user physical address: city
owner_mailing_address_state | string | yes | user physical address: state

# Funds

## Establish a new fund

```shell
curl "https://backer.com/restapi/funds" \
  -X POST
  -H 'Content-Type: application/json'
  -H "Authorization: 109cb6fd-5658-4297-9bbf-8fa42be80f6c"
  -d '{"fund_draft_uuid": "0b9f81a6-e696-49cd-b875-90ebf477f0a3",
       "risk_level": "maximizing_gains"}'
```

> The above command returns JSON structured like this:

```json
{
  "uuid": "c516af7e-69f4-4a9f-ad50-32524bd4a0c8"
}
```

This endpoint requests to establish a new fund from a fund draft.

### HTTP Request

`PUT https://backer.com/restapi/funds`

### Query Parameters

Parameter | Type | Required | Description
--------- | ---- | -------- | -----------
fund_draft_uuid | UUID | yes | UUID of the fund draft to establish as a fund
risk_level | risk_level | yes | investment risk level

<aside class="notice">
  <strong>A risk level can take any of those values:</strong>
  <ul>
    <li>maximizing_gains</li>
    <li>minimizing_losses</li>
    <li>maximizing_gains_and_minimizing_losses</li>
  </ul>
</aside>
